.tr {
  width: 60%;
}

.td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.td p {
  margin-bottom: 0%;
}

tr#basic-table td:nth-child(odd) {
  background-color: rgb(190, 190, 190);
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.book-form input {
  margin: 5px 0; 
}
