.tr {
  width: 60%;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

td p {
  margin-bottom: 0%;
}

table#basic-table tr:nth-child(odd) {
  background-color: rgb(190, 190, 190);
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.book-form input {
  margin: 5px 0;
}

.row-data {
  margin-right: 30rem;
}

button {
  all: unset;
  border: 3px solid black;
  border-radius: 5%;
  padding: 0.2em 0.4rem;
  box-shadow: 4px 3px black;
  background: white;
  cursor: pointer;
  user-select: none;
}

/* Required Alignment */

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#books {
  width: 90%;
  height: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#add {
  display: none;
  width: 50%;
  text-align: center;
  margin: 10% auto;
}

#contactSection {
  display: none;
  margin: 10% auto;
}


